#/bin/bash

JMETER_SYS_PROPS=-Djava.rmi.server.hostname=$RMI_HOST {{ range ls (printf "jmeter-connect/%s/system.properties" (key_or_default "jmeter/current-test" "default") ) }}\ -D{{.Key}}={{.Value}}\ {{end}}

JMETER_LOGGING="{{ range ls (printf "jmeter-connect/%s/logging.properties" (key_or_default "jmeter-connect/current-test" "default") ) }}-L{{.Key}}={{.Value}}\ {{end}}"

JMETER_PROPS="{{ range ls (printf "jmeter-connect/%s/test.properties" (key_or_default "jmeter-connect/current-test" "default") ) }}-J{{.Key}}={{.Value}}\ {{end}}"

JMETER_CLI="{{ key_or_default (printf "/jmeter-connect/%s/cli" (key_or_default "jmeter-connect/current-test" "default") ) " " }}"

$INSTALL_LOCATION/jmeter-launcher/bin/jmeter-launcher -Dconfig.file=/application.conf $JMETER_USER_PROPS $JMETER_CLI $JMETER_PROPS

# Delete running script after java process dies. Makes consul rewrite and thus restart on startup
rm -- "$0"

# -D[prop_name]=[value] - defines a java system property value.
# -J[prop name]=[value] - defines a local JMeter property.
# -G[prop name]=[value] - defines a JMeter property to be sent to all remote servers.
# -G[propertyfile] - defines a file containing JMeter properties to be sent to all remote servers.
# -L[category]=[priority] - overrides a logging setting, setting a particular category to the given priority level.